

<app-driver-select
  [drivers]="drivers"
  [selectedDriverId]="selectedDriverId"
  (driverSelected)="selectedDriverId = $event; onDriverSelected()"
>
</app-driver-select>

<app-van-select
  [vans]="vans"
  [selectedVanId]="selectedVanId"
  [enabled]="!!selectedDriverId"
  (vanSelected)="onVanSelected($event)"
>
</app-van-select>

<app-route-select
  [routes]="routes"
  [selectedRouteId]="selectedRouteId"
  [enabled]="!!selectedVanId"
  (routeSelected)="selectedRouteId = $event; loadPlaces()"
>
</app-route-select>

<app-shift-summary
  *ngIf="selectedDriverId && selectedVanId && selectedRouteId"
  [driverName]="getDriverName(selectedDriverId)"
  [vanPlate]="getVanPlate(selectedVanId)"
  [routeName]="getRouteName(selectedRouteId)"
  [shiftStarted]="shiftStarted"
  (startShift)="startShift()"
  (reset)="resetSelection()"
>
</app-shift-summary>

<div *ngIf="shiftStarted && selectedVanId" class="van-inventory">
  <h4>Van Inventory</h4>
  <p>Big baskets: {{ getVanBasketCount('BIG') || 0 }}</p>
  <p>Small baskets: {{ getVanBasketCount('SMALL') || 0 }}</p>
</div>


<app-place-list
  *ngIf="shiftStarted && places.length > 0 && !selectedPlace  && !isBasketInputOpen"
  [places]="places"
  (placeSelected)="openPlace($event)"
>
</app-place-list>

<div *ngIf="selectedPlace && !isBasketInputOpen">
  <p>Current inventory at {{ selectedPlace.place.name }}:</p>
  <ul>
    <li *ngIf="getInventorySummary(selectedPlace.place.id); else noInventory">
      Big baskets: {{ getBasketCount(selectedPlace.place.id, "BIG") || 0
      }}<br />
      Small baskets: {{ getBasketCount(selectedPlace.place.id, "SMALL") || 0 }}
    </li>
    <ng-template #noInventory
      ><li>No inventory data available.</li></ng-template
    >
  </ul>
  <button (click)="openBasketInput()">Update Basket</button>
  <button class="btn-secondary" (click)="closePlace()">
    Cancel
  </button>
</div>

<app-basket-movement-dialog
  *ngIf="shiftStarted && selectedPlace && isBasketInputOpen"
  [place]="selectedPlace.place"
  (movementConfirmed)="onBasketInputConfirmed($event)"
  (close)="closeBasketInput()"
>
</app-basket-movement-dialog>
